## Om Sakthi...Guruvadi Saranam!...Thiruvadi Saranam!

## மக்கள் நல பணி 2024

### Introduction
This notebook serves the purpose of automating the generation of acknowledgment forms for beneficiaries by utilizing the information provided by them.

### Prerequisites
Before running the notebook, ensure you have the following:
- **Python Environment**: Make sure you have Python installed on your system( or do so from here "https://www.python.org/downloads/") or use JupyterLab on Web which doesnt need system installation. .
- **Editable PDF Form**: Prepare an editable PDF form using an online tool or Adobe Acrobat. The field names in the form should be readable programmatically.(www.docfly.com has a free version for 5 tries).  `acknowledgment stage_0.docx` is the base file which has the template of acknowledgment form. converted them to pdf and named it as `acknowledgment stage_1.pdf`. upload to the as mentioned pdf editors and manually drag and drop text boxes in the fillable areas and take note of text field names. then export them and named as  `acknowledgment stage_2.pdf`. this is the final file that can be used to autofill beneficiary detailes.


### Code Explanation
- **Data Processing**: The notebook reads beneficiary data from Excel files, processes it, and merges it to create a consolidated dataset. the `main_file_path` will have the path of the `Generated_token.xlsx` file.
- **PDF Form Filling**: It extracts field names from the editable PDF form and then iterates through each beneficiary's data to fill the form fields accordingly.
- **Output Generation**: The filled PDF forms are saved individually and then merged into a single PDF file for easier management in the `label_path` under name `all_acknowledgment.pdf`

### Important Note
- Ensure that the input data files are placed in the correct directory as specified in the notebook.
- Make sure the editable PDF form used has fields with identifiable names for automated filling.Use appropriate names and note them while creating fillable PDF online
- Review the output PDF files to ensure accuracy before distributing them to beneficiaries.

In [16]:
main_file_path = "/Users/aswathshakthi/PycharmProjects/MNP24/Label/Final reports/Generated_token.xlsx"
label_path = "/Users/aswathshakthi/PycharmProjects/MNP24/Acknowledgment/result/"

#### read the file from the defined path above. Select `Public` records.

In [17]:
import pandas as pd
data = pd.read_excel(main_file_path)
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.replace("P 021 Sri Ramakrishna Athmalayam","P 021 - Sri Ramakrishna Athmalayam")
data[['App. No.', 'DISTRICT / NAME']] = data['DISTRICT / NAME'].str.split(' - ', expand=True)

data = data[data["D /P / I"]=="Public"]
data

,Sl. No,D /P / I,Project / Article / Aid,DISTRICT / NAME,REQUESTED ARTICLE,Change QTY,Sequence list,Real QTY,Start Token No.,End Token No.,Token Print for ARTL,App. No.
20,22,Public,Article,K.Eswaraan,Handicapped Scooter,1,19,1,56,56,1,P 079
21,23,Public,Article,R.Dhanasekaran,Handicapped Scooter,1,19,1,57,57,1,P 097
26,26,Public,Article,Senthilkumar,Two wheeler,1,20,1,65,65,1,P 048
27,27,Public,Article,Lalitha,Two wheeler,1,20,1,66,66,1,P 057
33,35,Public,Article,R.Saravanan,Lenova Tab,1,23,1,82,82,1,P 060
...,...,...,...,...,...,...,...,...,...,...,...,...
420,440,Public,Article,A.Muniammal,Girls Cycle,1,118,1,1073,1073,1,P 120
421,441,Public,Article,A.keerthana,Girls Cycle,1,118,1,1074,1074,1,P 122
422,442,Public,Article,P.Uma,Girls Cycle,1,118,1,1075,1075,1,P 123
423,443,Public,Article,Abimeena U,Girls Cycle,1,118,1,1076,1076,1,P 165
424,444,Public,Article,S Nagammal,Girls Cycle,1,118,1,1077,1077,1,P 171

##### Add the path of beneficiary details in excel, also sheet name should be mentioned

In [18]:
p_data = pd.read_excel("/Users/aswathshakthi/PycharmProjects/MNP24/Acknowledgment/data/DISTRICT AND PUBLIC DATA BASE 31012024.xlsx",sheet_name="PUBLIC")
p_data = p_data[["App. No.","Aadhar","Name","Address","Mobile"]]
p_data

,App. No.,Aadhar,Name,Address,Mobile
0,P 021,0,Sri Ramakrishna Athmalayam,"Kammavar Palayam Road, Sholavaram, Chennai 67",9884894335
1,P 022,983903078456,Muniammal,"79,VeeramaNallur, Semmedu, Villupuram 604 153",9342725341
2,P 024,574234930127,D.Rajamani,"28/14 Kanniappa Gramani Nagar 2nd St, Kaladipe...",7305301104
3,P 025,968582816938,N.Soundarya,"Kandakariyam, Tanjore",8270654255
4,P 026,440497379138,E.Thangam,"4/34Venbuliamman Koil St, Vandalur, Chennai 60...",7845699984
...,...,...,...,...,...
128,P 159,782979049402,Rajeswari Murugan,"5/56 Kabilar St, Otteri Pirivu, Vandalur",9952922466
129,P 160,999495896053,D.Ramesh,"52 Mettu St, Bolur, Thiruvannamalai",7395843049
130,P 161,570743390326,S.Gkomathi,"Chinnamman Koil St, Avadi, Chennai 600054",9003052745
131,P 162,259184932037,G.Kala,"69, 4th St, Sarma Nagar, Vyasarpadi, Chennai",6380948390
132,P 163,741922311245,P.Singaravelu,"Pattukottai, Tanjore",8012647090

##### Finally save the file to the path mentioned below or edit to your desired path.

In [19]:
data.merge(p_data,how='left',on="App. No.").to_excel("/Users/aswathshakthi/PycharmProjects/MNP24/Acknowledgment/data/Beneficiary_list.xlsx",index=False)

##### This adds 0 to missing data and converts numbers to numbers and texts to texts format

In [20]:
data= pd.read_excel("/Users/aswathshakthi/PycharmProjects/MNP24/Acknowledgment/data/Beneficiary_list.xlsx")
data["Aadhar"] = data["Aadhar"].fillna(0)
data["Mobile"] = data["Mobile"].fillna(0)
data["Address"] = data["Address"].fillna("Add")
data["Aadhar"] = data["Aadhar"].astype(int)
data["Mobile"] = data["Mobile"].astype(int)
data

,Sl. No,D /P / I,Project / Article / Aid,DISTRICT / NAME,REQUESTED ARTICLE,Change QTY,Sequence list,Real QTY,Start Token No.,End Token No.,Token Print for ARTL,App. No.,Aadhar,Name,Address,Mobile
0,22,Public,Article,K.Eswaraan,Handicapped Scooter,1,19,1,56,56,1,P 079,880008808960,K.Eswaraan,"30 Samayan Koil St, Vandiyur, Madurai",9791497523
1,23,Public,Article,R.Dhanasekaran,Handicapped Scooter,1,19,1,57,57,1,P 097,293196203825,R.Dhanasekaran,"1-118Bramanar St, Anmaruthai PO, Thiruvannamal...",9791065580
2,26,Public,Article,Senthilkumar,Two wheeler,1,20,1,65,65,1,P 048,469823655677,Senthilkumar,"GB Nagar, Kalavai",9786865280
3,27,Public,Article,Lalitha,Two wheeler,1,20,1,66,66,1,P 057,822512261793,Lalitha,"18/39 Thirumalaiappan St, Purasaivakkam, Chennai",9345136363
4,35,Public,Article,R.Saravanan,Lenova Tab,1,23,1,82,82,1,P 060,365256851671,R.Saravanan,"11-9-1F Velliyan Chettiyar St, Aandipatti, 62...",8124837667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,440,Public,Article,A.Muniammal,Girls Cycle,1,118,1,1073,1073,1,P 120,691544883507,A.Muniammal,"4th St, Venkatesapuram",9942796797
131,441,Public,Article,A.keerthana,Girls Cycle,1,118,1,1074,1074,1,P 122,994189467928,A.keerthana,"venkatesapuram Village, Acharapakkam PO, Cheng...",9345825969
132,442,Public,Article,P.Uma,Girls Cycle,1,118,1,1075,1075,1,P 123,441456953579,P.Uma,"Pakkam Village, Madhuranthagam TK Chenglepat",9942539840
133,443,Public,Article,Abimeena U,Girls Cycle,1,118,1,1076,1076,1,P 165,0,NaN,Add,0
134,444,Public,Article,S Nagammal,Girls Cycle,1,118,1,1077,1077,1,P 171,0,NaN,Add,0

##### This gives the name of PDF text fields. use this to link data accordingly

In [21]:
# get Field names

from fillpdf import fillpdfs

# Get form fields from the PDF
form_fields = fillpdfs.get_form_fields("data/acknowledgment stage_2.pdf")

# Print field names
for field_name in form_fields.keys():
    print(field_name)

district
appno
token
Name
address
phone
aadhar
artice

#### in Line 17, change the path to where to store your results. it shouldn't contain another files except this. in line 18, mention the path of the `acknowledgment stage_2.pdf` file.in line 26, add the path where you save your result. the output will be saved in the folder under name `all_acknowledgment.pdf`

In [22]:


import pandas as pd
from fillpdf import fillpdfs
import PyPDF2
import os
# Define a function to fill PDF for each row
def fill_pdf_for_row(row):
    data_dict = {
        # 'district': row['District'],
        'address': row['Address'],
        'Name': row['DISTRICT / NAME'],
        'appno': row['App. No.'],
        'token': row['Start Token No.'],
        'phone': row['Mobile'],
        'aadhar': row['Aadhar'],
        'artice': row['REQUESTED ARTICLE']
    }
    filled_pdf_path = f"/Users/aswathshakthi/PycharmProjects/MNP24/Acknowledgment/result/{row['Start Token No.']}_filled.pdf"  # Output path for each filled PDF
    fillpdfs.write_fillable_pdf('/Users/aswathshakthi/PycharmProjects/MNP24/Acknowledgment/data/acknowledgment stage_2.pdf', filled_pdf_path, data_dict)

    return filled_pdf_path

# Apply the function to each row and get list of filled PDF paths
filled_pdf_paths = data.apply(fill_pdf_for_row, axis=1).tolist()

# Merge all filled PDFs into a single PDF file
merged_pdf_path = "/Users/aswathshakthi/PycharmProjects/MNP24/Acknowledgment/result/all_acknowledgment.pdf"
with open(merged_pdf_path, "wb") as output_pdf:
    merger = PyPDF2.PdfMerger()
    for pdf_path in filled_pdf_paths:
        merger.append(pdf_path)
    merger.write(output_pdf)

# Delete individual filled PDFs
for pdf_path in filled_pdf_paths:
    os.remove(pdf_path)