In [2]:
import pandas as pd

In [2]:
article = pd.read_csv("Articles.csv")
article_name = "Desktop Computer"

In [16]:
article[article["Articles"]==article_name]["Cost per unit"].tolist()[0]

20500.0

In [16]:

public = pd.read_excel("DISTRICT AND PUBLIC DATA BASE 24122024.xlsx",sheet_name="DO NOT TOUCH_2021 to 24 data")
public

,AADHAR No,AADHAR No.1,Len,NAME,BENEFICIARY ITEM,YEAR,Category,Selection Status\nYes / No
0,9292 9645 9071,929296459071,12.0,M.KARTHIKEYAN,Push cart with Top,2021,NaN,NaN
1,2062 6807 0869,206268070869,12.0,S.RAJESHWARI,Battery and Charger,2021,NaN,NaN
2,2593 5886 7697,259358867697,12.0,M.PAECHIMUTHU,Powered Sewing Machine,2021,NaN,NaN
3,3636 6154 9968,363661549968,12.0,M.DEVI,Sewing Machine,2021,NaN,NaN
4,5263 3195 0205,526331950205,12.0,A.THIYAGARAJAN,Push cart with Top,2021,NaN,NaN
...,...,...,...,...,...,...,...,...
1153,NaN,345233414455,NaN,Dinesh,Gents Cycle,2024,Public,NaN
1154,NaN,363030001363,NaN,S.Anjan,Gents Cycle,2024,Public,NaN
1155,NaN,9417 6165 4055,NaN,Gajendran,Medical Aid,2024,Public,NaN
1156,NaN,382908683958,NaN,G.Sakkubhai,Tabletop Grinder,2024,Public,NaN
1157,NaN,353590938417,NaN,R. Sahana,Lenove Tab,2024,Public,NaN

Index(['AADHAR No', 'AADHAR No.1', 'Len', 'NAME', 'BENEFICIARY ITEM', 'YEAR',
       'Category', 'Selection Status\nYes / No'],
      dtype='object')