## Om Sakthi! Guruvadi Saranam! Thiruvadi Saranam!

### Installs Required packages

In [23]:
# !pip install pandas
# !pip install reportlab
# !pip install regex

# please add # (hash) before each line after it ran. otherwise, the packages will keep installing again and again

### Import required packages

In [24]:
import warnings
from reportlab.lib.pagesizes import portrait, A4
from reportlab.lib.units import mm
from reportlab.pdfgen import canvas
from reportlab.lib.styles import ParagraphStyle
from reportlab.platypus import Paragraph
import re
import pandas as pd
warnings.filterwarnings('ignore')

### Input the name of the file along with the file path in the computer

In [25]:
master_file_path = "/Users/aswathshakthi/Downloads/Master_Records.csv"  #input file name along with path
sheet_name = "Total MNP-Master Data Token"                           #input sheet name

In [26]:
dummysl = pd.read_csv(master_file_path)
dummysl["Sequence list"] = ""
cnt = 1
for names in dummysl["Article Name"].unique():
    dummysl.loc[dummysl["Article Name"] == names, "Sequence list"] = (cnt)
    cnt += 1
dummysl.to_csv("/Users/aswathshakthi/Downloads/Master_Records.csv", index=False)

### Reads the Master data file

In [27]:
data = pd.read_csv(master_file_path).sort_values(by=["Sequence list","Beneficiary Type","Name"],ascending=True,ignore_index=True)
data = data[data["Beneficiary Type"]!="Panchyat"]
data

# in order of sequence, then beneficiary type :district, then name of beneficiary in ascending. * Institute and Public should be in bottom of sequenec and beneficiary type.

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list
0,D 001,Ariyalur,Agri Battery Sprayer,Article,11,4200.0,46200,District,No,Agri,1
1,D 006,Chittoor Rural,Agri Battery Sprayer,Article,6,4200.0,25200,District,No,Agri,1
2,D 009,Cuddalore,Agri Battery Sprayer,Article,21,4200.0,88200,District,No,Agri,1
3,D 010,Dharmapuri Central,Agri Battery Sprayer,Article,1,4200.0,4200,District,No,Agri,1
4,D 012,Dharmapuri North,Agri Battery Sprayer,Article,3,4200.0,12600,District,No,Agri,1
...,...,...,...,...,...,...,...,...,...,...,...
717,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Water Hose -Braided,Article,3,1600.0,4800,Institution,No,NaN,115
718,I 011,Adhiparasakthi Matriculation Hr.Sec.School,100W Flood Light,Article,1,5400.0,5400,Institution,No,Electrical,116
719,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Grass Cutter Machine,Article,1,34515.0,34515,Institution,No,NaN,117
720,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Tube Light LED,Article,50,130.0,6500,Institution,No,NaN,118
721,I 013,G.B.Public School,Canon TR 4826 Photocopier,Article,1,265000.0,265000,Institution,No,NaN,119

In [28]:
## check if the sequence number has more than one article/project/aid
# if its repeated. change the seq number
list = data["Sequence list"].unique()
Note=pd.DataFrame()
for i in list:

    if data[data["Sequence list"]==i]["Article Name"].nunique() == 1:
        pass
    else:
        Note = Note.append([("Sequence "+str(i))],ignore_index=True)
Note

Empty DataFrame
Columns: []
Index: []

In [29]:
list = data["Article Name"].unique()
Note=pd.DataFrame()
for i in list:

    if data[data["Article Name"]==i]["Sequence list"].nunique() == 1:
        pass
    else:
        Note = Note.append([i],ignore_index=True)
Note

Empty DataFrame
Columns: []
Index: []

In [30]:
data["Name"].unique() # visually inspect any duplicates.

array(['Ariyalur', 'Chittoor Rural', 'Cuddalore', 'Dharmapuri Central',
       'Dharmapuri North', 'Dindigul', 'Kallakurichi', 'Nellore',
       'Perambalur', 'Pudhukottai', 'Ranipet', 'Tenkasi', 'Thirunelveli',
       'Thiruvannamalai', 'Vellore', 'Vijayawada', 'Villupuram',
       'S.Kumar', 'Karnataka State', 'Krishnagiri A2',
       'Krishnagiri south', 'Adhiparasakthi Annai Illam',
       'Adhiparasakthi Matriculation Hr.Sec.School', 'Dharmapuri East',
       'Dharmapuri South', 'Chengalpattu', 'Chennai Central',
       'Chennai North', 'Chennai South', 'Chittoor Urban', 'Hyderabad',
       'Kanchipuram', 'Kanniyakumari', 'Karur', 'Madurai', 'Namakkal',
       'Salem', 'Sivagangai', 'Thane', 'Thanjavur', 'Thothukudi (M)',
       'Thothukudi I/C', 'Tirupathur', 'Trichy', 'Visakapattinam',
       'A.Jagadeeswaran', 'E.Elumalai', 'K.Ganesh', 'M.VIJAY',
       'M.Vilvanathan', 'Murugan', 'N.MURUGESAN', 'S.SELVANATHAN',
       'S.Sanjay', 'V.Loganathan', 'Abitha', 'K.Rajeswari', 'K.Revathy',
       'M.Saadhana', 'M.Vaenisha', 'R.VIJAYASREE', 'S.Jayasri',
       'Subhasree', 'Sulekha Banu', 'V.Saranya', 'Theni (R.)', 'Kuppan',
       'V.Sarasvathy', 'Kerala State', 'Mumbai, Navi, Pune', 'Nilagiri',
       'Pudhucheri', 'Thiruppur', 'Virudhunagar', 'A.Manikandan',
       'Arokia Mary', 'D.Yuvasree', 'G.J.Arulmanimaran', 'G.Sathya',
       'K.Manikandan', 'M.IniyaSri', 'M.Sharmili', 'S.Harish',
       'S.Nandhini', 'S.Vidhya', 'Sathish', 'T.Thilagavathy', 'V.Lakshmi',
       'sakthi Sundaresan', 'A.Rekha', 'Elangovan', 'G.Kanniselvi',
       'Hari Krishnan', 'K.Dharman', 'K.Munusamy', 'M.Karthiga', 'N.Rani',
       'POONGAVANAM', 'Rajagopal', 'S.Gopalakrishnan', 'S.Muniyammal',
       'S.Nagalingam', 'S.Sasikala', 'Soundary', 'V.Mariappan',
       'Aruleswari', 'Chandra Munusamy', 'Kalamani', 'Muniyapillai',
       'Munusamy', 'Thangamani', 'Ammakannu', 'Ananthan', 'Devaki',
       'J.Rani', 'Jayalakshmi', 'K.Raja', 'Kalaiselvi.L', 'N.Muthu',
       'P.Jothi', 'P.Venkatesan', 'S.Ananthi', 'V.Mahendran',
       'Coimbatore', 'Adhiparasakthi Institutions', 'G.B.Public School',
       'Bhavani Raju', 'Deevidha.G', 'J.Rithika', 'K.Madhumitha',
       'K.Periasamy', 'K.muruganandham', 'Kavitha', 'MUTHUMANICKAM',
       'P.Bharathi', 'P.Karthick Kumar', 'P.Keerthana', 'P.Rajesh',
       'P.Subhalakshmi', 'P.Suresh', 'RAJANGAM', 'S.Isai Karthick',
       'S.Kailash Raj', 'S.NESAMANI', 'S.Yamuna', 'V.Bhuvanesh',
       'V.HARIHARAN', 'V.Jeeva', 'V.Kalaiyarasi', 'J.VICTORIA',
       'N.AMUTHAVANI', 'R.Kathirkumar', 'S.KARANSINGH KUMAR',
       'A.Mohanraj', 'Balaji', 'D.Rajalakshmi', 'HARINISHREE',
       'Indhu Uma Ezilarasi', 'K.Selvamani', 'M.Raja', 'M.Surya',
       'Mekala', 'P.Parameswari', 'P.Pichaiammal', 'Thaiyalnayaki',
       'Viswa', nan, 'Krishnagiri North-A1', 'Krishnagiri-D', 'E.Jansi',
       'K.LAKSHMI', 'N.Dinesh', 'Dharmapuri West', 'Erode',
       'Krishnagiri-C1', 'Krishnagiri-C2', 'Theni(M)', 'S.Anbu',
       'T.SARITHA', 'K.Santhi', 'S.Kalaivani', 'S.Lakshmi',
       'Ramanathapuram', 'Thiruvallur', 'A.John Peter',
       'A.Righana Sulthan', 'A.Sarasu', 'Agalya', 'Anitha',
       'B.Saraswathi', 'Bhuvaneswari', 'C.Deivani', 'D.Prema', 'E.Ambika',
       'E.Manikandan', 'G.Rasathi', 'Hemalatha', 'J.Manjula',
       'K.Dhanalakshmi', 'K.Gowri', 'K.Malar', 'K.Renuka',
       'M.Adhilakshmi', 'M.Anjalai', 'M.Mageswari', 'M.RAJENDRAN',
       'M.Saranya', 'Naseema Begam', 'P.Amsavalli', 'P.Meenakshi',
       'P.Porkodi', 'Parimaladevi', 'Powziya Banu', 'R.Dhanalakshmi',
       'S.AANDAL', 'S.BAMA', 'S.Bhavani', 'S.KAMATCHI', 'S.Mageswari',
       'S.Mala', 'S.Sudha', 'Sak.Kuruvammal', 'Saranya', 'Sarojini',
       'T.Kalaivani', 'Tamil selvi', 'Thenmozhi', 'Thilagavathy', 'Uma',
       'Usha', 'V.Adhilakshmi', 'V.Megala', 'V.Puspha', 'V.Sugandhi',
       'V.Sumathi', 'K.DINAKARAN', 'Kamali', 'M.Sabitha', 'MOORTHY',
       'N.GOPINATHAN', 'P.Baladhandayutham', 'P.SEVVANTHI',
       'R.Bagyalakshmi', 'A.Aananthayee', 'Alexandar Rayappan',
       'B.Murugan', 'C.Karthick', 'Gayathri', 'Illayaraja', 'J.Nirmala',
       'J.Suryakala', 'Jayalalitha', 'K.Duraisamy', 'K.Mahadevan',
       'K.Marimuthu', 'K.Rajendran', 'Kalyani Mani', 'Kumar N', 'M.Kumar',
       'Malliga', 'Mohanraj', 'Palaniammal', 'R.Karpagam', 'R.Padmanaban',
       'R.Sundaram', 'Rebaideen', 'S.Lawrence', 'S.Mathivanan',
       'S.Pachaiammal', 'S.Palaniammal', 'Sathishkumar', 'T.Manjula',
       'T.Pandian', 'V.Baskar', 'V.Jayavel', 'Venkatesan',
       'Fire Station, Acharapakkam', 'C.Kasi', 'Ganesan',
       'Rekha Elumalai', 'Sankar Sahadevan', 'Silvistar Chhalya Tewar',
       'Abdul Khader', 'K.RAMAKRISHNAN', 'Govt School - MKM',
       'Govt.School - CYR', 'Govt.School- NMBR', 'Krishnagiri-B1',
       'Krishnagiri-B2', 'Krishnagiri-B3', 'Melmaruvathur', 'Baskar',
       'Ravi', 'V.Muthupandi', 'C.Isakiammal', 'K.Kalyanasundaram',
       'M.Aruna', 'M.thangammal', 'S.Agasthiarajan', 'T.selvi',
       'E.Loganathan', 'JAGADEESAN', 'M.Sathya', 'P.Ramadoss', 'P.Selvam',
       'Rajeswari', 'SHANKAR', 'A.Rajeswari', 'Ammu.s',
       'Anjali, Thirumalai', 'Pachiappan', 'R.Veeramani', 'S.Ravikumar',
       'S.Thangam', 'Ramani Sampoornam', 'A.Anbu Raja', 'B.Balamurugan',
       'Chandrakumar', 'G.Amudha', 'G.Baskaran', 'K.Vasuki',
       'M.Vinayagam', 'P.Rathinam', 'R.Venkatesan', 'Velayudham',
       'Venkatesan Boobalan', 'I.Nirmala', 'P.Krishnaveni', 'B.Yuvanraj',
       'Ambika', 'Anjalatchi', 'Ranganayaki', 'S.Padmini', 'E.Alavudheen',
       'J.Prabhu', 'R.Babu', 'Paechiammal', 'K.Karpagavalli', 'C.Kannan',
       'Muthulakshmi', 'G.Shyam', 'KISHORE KUMAR', 'SAI SANJAI',
       'V.THAMESWARAN', 'E.Vinayagam', 'M.Mohan', 'SENTHIR KUMAR',
       'G.Deepalakshmi', 'R.Lakshmi Narashimhan', 'Rahul', 'P.Manikandan',
       'V.Bharathirajan', 'R.Natarajan', 'Kannagi Mayazhagu', 'Lakshmi',
       'Pazhani', 'Poongodi', 'Priyanga Gandhi', 'Ramalingam', 'Rani',
       'Santhi', 'Sivagami', 'Tamilarasi', 'Cheyyur Thasildar Office',
       'Govt School - KDPM', 'Govt.School - AVPR', 'Anbu Thondu Nilayam'],
      dtype=object)

In [31]:
data["Article Name"].unique() # visually inspect any duplicates.

array(['Agri Battery Sprayer', 'Desktop Computer', 'HP Printer 1108 Plus',
       'Sewing Machine ORD', 'Agri Power Sprayer (2 STK)', 'Gents Cycle',
       'Girls Cycle', 'Iron Box', 'Education Aid', 'Financial Aid',
       'Flood Relief Fund', 'Front Load Business Tricycle', 'Laptop',
       'Push Cart With Top/Iron Box', 'Aluminium Idli Making Box',
       'Lenova Tab', 'Medical Aid', 'Sewing Machine Overlock',
       'Table Top Wet Grinder 2 Ltr', 'Wet Grinder Floor Model 2 Ltr',
       'Bosch Electrician Kit 10 Re', 'Diamond Cooker 12 Ltrs',
       'Wet Grinder 2 Ltr (Hgt)', 'Wet Grinder 3 Ltrs',
       'Wet Grinder 5 Ltrs', 'Oxygen Concentrator',
       'Paper Plate Making Machine', 'Tiffen Set',
       '5 HP Bore well Pump / DOL Starter',
       'Gaja Hi tech Agro 6.5 HP Pump', 'Gaja Mini Weeder',
       'Gp Welding Machine Arc 200', 'Kissan Power Weeder',
       'Titan Agri Chain Saw', 'kk.bc.8635.Brush Cutter',
       'Sewing Machine ORD / Motor', 'Two Wheeler', 'Business Aid',
       'Electric Iron Box', 'Epson Printer L3250 (Lite)',
       'Sewing Machine Heavy', 'Surya Gas Stove', 'Wood Saw Machine (P)',
       'Al.Dabara Set 3 Kg', 'Handicapped Hand Tricycle',
       'Bosch Rotary Hammer GBH 220', 'Instant Grinder 30 Kgs',
       'Barber Set', 'Bosch Electrician Kit 13 Re',
       'Iron Ms Stove 2 Burner', 'Push Cart Without Top',
       'Steel Cupboard', 'Butterfly Mixie 750W', 'Aluminium Vessels Sets',
       'Provision materials to Orphanages', '3 Ltr Table Top Wet Grinder',
       'Aluminium Vessels Set - Big', 'Ceiling Fan', 'Inverter',
       'Prestige Mixer Grinder 1000 W', 'School Furniture',
       'Fixed Wheel Chair', 'Agri Power Sprayer (4 STK)',
       'Gasoline Generator XLNT-9500E', 'Air Conditioner 1 Tonne',
       'Livelihood Aid', 'DCA Demolition Hammer 11E',
       'Domestic Stove 2 Burner', 'Table Top Tilting Grinder 2 Ltr',
       'Agri Manual Sprayer', 'Construction Aid', 'Fishing net',
       'Push Cart With Top', 'Pushcart + Idli box + MS Burner stove',
       'Renovation Aid', 'Tree plant Saplings',
       'Weighing Scale+ Bicycle+Basket for Fish Vendor',
       'Artificial Limb', 'Project', 'AHUJA Radios', 'Preethi Mixie',
       'RO water Purifier 10 Ltrs', 'Sewing Machine Universal ZigZag',
       'Ex gratia for Deceased', 'Single Burner Stove',
       'Handicapped Scooter', 'Hand Sewing Machine with Motor',
       'Tiffen Set + Idli Box +2 burner stove', 'Goat',
       'Electronic weighing scale', 'Auto- 3 Wheeler', 'Mini freezer',
       'Fruit Juice Mixie', 'Table fan', 'Junior Cycle', 'Hearing Aid',
       'TIFFEN SET + MS STOVE 2 BURNER', 'Agri Cart Weeder',
       'Dictionary English - Tamil', 'Desktop Computer - HVY',
       'Tea can 10 ltrs', 'Tea & Milk Steamer',
       'Canon Printer 6030B (USB)', 'Accident Victim',
       'Podiam Mike- Digimore', 'Canon EOS 5500 Camera',
       'Colour Printer HP Smart Tank 790 All in one', 'Portable Speaker',
       'Laptop - i5', 'Office Table 4X2', 'S Type Chair', 'Rice 1000 Kgs',
       'HP Printer 126NW (Heavy, All in 1)', 'Ceiling Fan- Ord',
       'Water Hose -Braided', '100W Flood Light', 'Grass Cutter Machine',
       'Tube Light LED', 'Canon TR 4826 Photocopier'], dtype=object)

In [32]:
uqs = data["Sequence list"].unique()
for i in range(1,uqs.max()):
    if i not in uqs:
        print(i)

In [33]:
data.dropna(how='all')

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list
0,D 001,Ariyalur,Agri Battery Sprayer,Article,11,4200.0,46200,District,No,Agri,1
1,D 006,Chittoor Rural,Agri Battery Sprayer,Article,6,4200.0,25200,District,No,Agri,1
2,D 009,Cuddalore,Agri Battery Sprayer,Article,21,4200.0,88200,District,No,Agri,1
3,D 010,Dharmapuri Central,Agri Battery Sprayer,Article,1,4200.0,4200,District,No,Agri,1
4,D 012,Dharmapuri North,Agri Battery Sprayer,Article,3,4200.0,12600,District,No,Agri,1
...,...,...,...,...,...,...,...,...,...,...,...
717,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Water Hose -Braided,Article,3,1600.0,4800,Institution,No,NaN,115
718,I 011,Adhiparasakthi Matriculation Hr.Sec.School,100W Flood Light,Article,1,5400.0,5400,Institution,No,Electrical,116
719,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Grass Cutter Machine,Article,1,34515.0,34515,Institution,No,NaN,117
720,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Tube Light LED,Article,50,130.0,6500,Institution,No,NaN,118
721,I 013,G.B.Public School,Canon TR 4826 Photocopier,Article,1,265000.0,265000,Institution,No,NaN,119

In [34]:
data["Change QTY "] = data["Quantity"]

In [35]:
data1 = data[data["Change QTY "]==0].reset_index(drop=True)
data1

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list,Change QTY
0,P 212,S.Sanjay,Gents Cycle,Article,0,0.0,0,Public,Rejected.5500,Bicycle & Tricycle,6,0
1,P 002,G.J.Arulmanimaran,Education Aid,Aid,0,0.0,0,Public,Rejected. 15000,2.Aid,9,0
2,P 239,S.Nandhini,Education Aid,Aid,0,0.0,0,Public,Rejected.10000,2.Aid,9,0
3,P 229,Devaki,Flood Relief Fund,Aid,0,0.0,0,Public,Rejected.10000,2.Aid,11,0
4,P 125,Kamali,Two Wheeler,Article,0,0.0,0,Public,Rejected.25 % of the vehicle cost,Automotive,37,0
5,P 012,B.Balamurugan,Handicapped Scooter,Aid,0,0.0,0,Public,Rejected. 50% of the cost of handicapped motor...,Automotive,86,0
6,P 029,R.Venkatesan,Handicapped Scooter,Article,0,0.0,0,Public,Rejected.50% of the cost of scooter\n,Automotive,86,0
7,P 181,Velayudham,Handicapped Scooter,Article,0,0.0,0,Public,Rejected.50 % of the cost to be borne by the b...,Automotive,86,0

In [36]:
data = data[data["Change QTY "]!=0].reset_index(drop=True)
data

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list,Change QTY
0,D 001,Ariyalur,Agri Battery Sprayer,Article,11,4200.0,46200,District,No,Agri,1,11
1,D 006,Chittoor Rural,Agri Battery Sprayer,Article,6,4200.0,25200,District,No,Agri,1,6
2,D 009,Cuddalore,Agri Battery Sprayer,Article,21,4200.0,88200,District,No,Agri,1,21
3,D 010,Dharmapuri Central,Agri Battery Sprayer,Article,1,4200.0,4200,District,No,Agri,1,1
4,D 012,Dharmapuri North,Agri Battery Sprayer,Article,3,4200.0,12600,District,No,Agri,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
709,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Water Hose -Braided,Article,3,1600.0,4800,Institution,No,NaN,115,3
710,I 011,Adhiparasakthi Matriculation Hr.Sec.School,100W Flood Light,Article,1,5400.0,5400,Institution,No,Electrical,116,1
711,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Grass Cutter Machine,Article,1,34515.0,34515,Institution,No,NaN,117,1
712,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Tube Light LED,Article,50,130.0,6500,Institution,No,NaN,118,50
713,I 013,G.B.Public School,Canon TR 4826 Photocopier,Article,1,265000.0,265000,Institution,No,NaN,119,1

### Generate token

In [37]:
data["Start Token No."] = int(0)  # create new column called Start Token No.
data["End Token No."] = int(0)   # create new column called End Token No.
data.at[0,"Start Token No."] = 1  # initialise first token as 1
data.at[0,"End Token No."] = data.at[0,"Change QTY "] + data.at[0,"Start Token No."] -1 # this first token for first line
for i in range(1,len(data)):
    data.at[i,"Start Token No."] = data.at[i-1,"End Token No."] + 1
    data.at[i,"End Token No."] = data.at[i,"Change QTY "] + data.at[i,"Start Token No."] -1
data

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list,Change QTY,Start Token No.,End Token No.
0,D 001,Ariyalur,Agri Battery Sprayer,Article,11,4200.0,46200,District,No,Agri,1,11,1,11
1,D 006,Chittoor Rural,Agri Battery Sprayer,Article,6,4200.0,25200,District,No,Agri,1,6,12,17
2,D 009,Cuddalore,Agri Battery Sprayer,Article,21,4200.0,88200,District,No,Agri,1,21,18,38
3,D 010,Dharmapuri Central,Agri Battery Sprayer,Article,1,4200.0,4200,District,No,Agri,1,1,39,39
4,D 012,Dharmapuri North,Agri Battery Sprayer,Article,3,4200.0,12600,District,No,Agri,1,3,40,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Water Hose -Braided,Article,3,1600.0,4800,Institution,No,NaN,115,3,14631,14633
710,I 011,Adhiparasakthi Matriculation Hr.Sec.School,100W Flood Light,Article,1,5400.0,5400,Institution,No,Electrical,116,1,14634,14634
711,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Grass Cutter Machine,Article,1,34515.0,34515,Institution,No,NaN,117,1,14635,14635
712,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Tube Light LED,Article,50,130.0,6500,Institution,No,NaN,118,50,14636,14685
713,I 013,G.B.Public School,Canon TR 4826 Photocopier,Article,1,265000.0,265000,Institution,No,NaN,119,1,14686,14686

In [38]:
data["Token Print"] = int(0)
data.loc[data["Article Name"] == 'Article', 'Token Print']  = 1
data

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list,Change QTY,Start Token No.,End Token No.,Token Print
0,D 001,Ariyalur,Agri Battery Sprayer,Article,11,4200.0,46200,District,No,Agri,1,11,1,11,0
1,D 006,Chittoor Rural,Agri Battery Sprayer,Article,6,4200.0,25200,District,No,Agri,1,6,12,17,0
2,D 009,Cuddalore,Agri Battery Sprayer,Article,21,4200.0,88200,District,No,Agri,1,21,18,38,0
3,D 010,Dharmapuri Central,Agri Battery Sprayer,Article,1,4200.0,4200,District,No,Agri,1,1,39,39,0
4,D 012,Dharmapuri North,Agri Battery Sprayer,Article,3,4200.0,12600,District,No,Agri,1,3,40,42,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Water Hose -Braided,Article,3,1600.0,4800,Institution,No,NaN,115,3,14631,14633,0
710,I 011,Adhiparasakthi Matriculation Hr.Sec.School,100W Flood Light,Article,1,5400.0,5400,Institution,No,Electrical,116,1,14634,14634,0
711,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Grass Cutter Machine,Article,1,34515.0,34515,Institution,No,NaN,117,1,14635,14635,0
712,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Tube Light LED,Article,50,130.0,6500,Institution,No,NaN,118,50,14636,14685,0
713,I 013,G.B.Public School,Canon TR 4826 Photocopier,Article,1,265000.0,265000,Institution,No,NaN,119,1,14686,14686,0

In [39]:
data1["Start Token No."] = int(0)  # create new column called Start Token No.
data1["End Token No."] = int(0)   # create new column called End Token No.
data1["Token Print"] = int(0)
data1

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list,Change QTY,Start Token No.,End Token No.,Token Print
0,P 212,S.Sanjay,Gents Cycle,Article,0,0.0,0,Public,Rejected.5500,Bicycle & Tricycle,6,0,0,0,0
1,P 002,G.J.Arulmanimaran,Education Aid,Aid,0,0.0,0,Public,Rejected. 15000,2.Aid,9,0,0,0,0
2,P 239,S.Nandhini,Education Aid,Aid,0,0.0,0,Public,Rejected.10000,2.Aid,9,0,0,0,0
3,P 229,Devaki,Flood Relief Fund,Aid,0,0.0,0,Public,Rejected.10000,2.Aid,11,0,0,0,0
4,P 125,Kamali,Two Wheeler,Article,0,0.0,0,Public,Rejected.25 % of the vehicle cost,Automotive,37,0,0,0,0
5,P 012,B.Balamurugan,Handicapped Scooter,Aid,0,0.0,0,Public,Rejected. 50% of the cost of handicapped motor...,Automotive,86,0,0,0,0
6,P 029,R.Venkatesan,Handicapped Scooter,Article,0,0.0,0,Public,Rejected.50% of the cost of scooter\n,Automotive,86,0,0,0,0
7,P 181,Velayudham,Handicapped Scooter,Article,0,0.0,0,Public,Rejected.50 % of the cost to be borne by the b...,Automotive,86,0,0,0,0

In [41]:
data = pd.concat([data,data1]).sort_values(by=["Sequence list","Beneficiary Type","Name","Start Token No."]).reset_index(drop=True)
data

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list,Change QTY,Start Token No.,End Token No.,Token Print
0,D 001,Ariyalur,Agri Battery Sprayer,Article,11,4200.0,46200,District,No,Agri,1,11,1,11,0
1,D 006,Chittoor Rural,Agri Battery Sprayer,Article,6,4200.0,25200,District,No,Agri,1,6,12,17,0
2,D 009,Cuddalore,Agri Battery Sprayer,Article,21,4200.0,88200,District,No,Agri,1,21,18,38,0
3,D 010,Dharmapuri Central,Agri Battery Sprayer,Article,1,4200.0,4200,District,No,Agri,1,1,39,39,0
4,D 012,Dharmapuri North,Agri Battery Sprayer,Article,3,4200.0,12600,District,No,Agri,1,3,40,42,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Water Hose -Braided,Article,3,1600.0,4800,Institution,No,NaN,115,3,14631,14633,0
718,I 011,Adhiparasakthi Matriculation Hr.Sec.School,100W Flood Light,Article,1,5400.0,5400,Institution,No,Electrical,116,1,14634,14634,0
719,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Grass Cutter Machine,Article,1,34515.0,34515,Institution,No,NaN,117,1,14635,14635,0
720,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Tube Light LED,Article,50,130.0,6500,Institution,No,NaN,118,50,14636,14685,0
721,I 013,G.B.Public School,Canon TR 4826 Photocopier,Article,1,265000.0,265000,Institution,No,NaN,119,1,14686,14686,0

### Save the excel file under the name "Generated_token.xlsx"

In [43]:
data.to_excel("/Users/aswathshakthi/PycharmProjects/MNP25/Result/Generated_token.xlsx",index=False)
data

,App. No.,Name,Article Name,ITEM TYPE,Quantity,Cost Per Unit,Total Value,Beneficiary Type,Comments,Category,Sequence list,Change QTY,Start Token No.,End Token No.,Token Print
0,D 001,Ariyalur,Agri Battery Sprayer,Article,11,4200.0,46200,District,No,Agri,1,11,1,11,0
1,D 006,Chittoor Rural,Agri Battery Sprayer,Article,6,4200.0,25200,District,No,Agri,1,6,12,17,0
2,D 009,Cuddalore,Agri Battery Sprayer,Article,21,4200.0,88200,District,No,Agri,1,21,18,38,0
3,D 010,Dharmapuri Central,Agri Battery Sprayer,Article,1,4200.0,4200,District,No,Agri,1,1,39,39,0
4,D 012,Dharmapuri North,Agri Battery Sprayer,Article,3,4200.0,12600,District,No,Agri,1,3,40,42,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Water Hose -Braided,Article,3,1600.0,4800,Institution,No,NaN,115,3,14631,14633,0
718,I 011,Adhiparasakthi Matriculation Hr.Sec.School,100W Flood Light,Article,1,5400.0,5400,Institution,No,Electrical,116,1,14634,14634,0
719,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Grass Cutter Machine,Article,1,34515.0,34515,Institution,No,NaN,117,1,14635,14635,0
720,I 011,Adhiparasakthi Matriculation Hr.Sec.School,Tube Light LED,Article,50,130.0,6500,Institution,No,NaN,118,50,14636,14685,0
721,I 013,G.B.Public School,Canon TR 4826 Photocopier,Article,1,265000.0,265000,Institution,No,NaN,119,1,14686,14686,0

# Label

### PDF Result, Continous labels as per token number.

In [47]:
# Function to generate PDF file with labels
def generate_pdf(labels):
    c = canvas.Canvas("result/continuous_labels_articles.pdf", pagesize=portrait(A4))
    width, height = portrait(A4)
    top_margin = 9 * mm
    side_margin = 4 * mm
    vertical_pitch = 47 * mm
    horizontal_pitch = 102 * mm
    label_height = 44 * mm
    label_width = 100 * mm
    number_across = 2
    number_down = 6
    corner_radius = 2 * mm


    for i, label in enumerate(labels["data"]):
        if i % (number_across * number_down) == 0:
            c.showPage()  # Start a new page every 12 labels
            x_offset = side_margin
            y_offset = height - top_margin

        col = i % number_across
        row = i // number_across % number_down
        x = x_offset + col * horizontal_pitch
        y = y_offset - row * vertical_pitch - label_height
        #c.roundRect(x, y, label_width, label_height, corner_radius)

        token, district, article = label

        # Determine font size based on the length of the token number
        token_font_size = 60
        if len(token) == 3:
            token_font_size = 50
        elif len(token) >= 4:
            token_font_size = 47


        style_token = ParagraphStyle(name='Arial', fontSize=token_font_size  , alignment=0)
        style_article = ParagraphStyle(name='Arial', fontSize=15, leading = 16, alignment=1) #leading  gives space between lines,
        style_district = ParagraphStyle(name='Arial', fontSize=15, leading = 14,spaceAfter=20, alignment=1)

        token_text = Paragraph(f"<b>{token}</b>", style_token)
        article_text = Paragraph(f"<b>{article}</b>", style_article)
        district_text = Paragraph(f"<b>{district}</b>", style_district)

        # Calculate positions for left alignment
        token_text_width, token_text_height = token_text.wrap(label_width / 2, label_height)
        token_text.drawOn(c, x + 8 * mm, y + 0.66 * (label_height - token_text_height)) #8mm for horizontal , adjust 0.66 for vertical

        # Calculate positions for right alignment
        district_text_width, district_text_height = district_text.wrap(label_width / 2, label_height)
        district_text.drawOn(c, x + 0.8 * (label_width - district_text_width), y + 0.85 * (label_height - district_text_height))

        # Calculate positions for right alignment
        article_text_width, article_text_height = article_text.wrap(label_width / 2, label_height)
        article_text.drawOn(c, x + 0.8 * (label_width - article_text_width), y + 6 * mm)


    c.save()

# Read the data
data = pd.read_excel("result/Generated_token.xlsx")
data = data[data["Change QTY "]!=0]
data["Name"] = data["Name"].str.title()
data["Article Name"] = data["Article Name"].str.title()
# data['Article Name'] = data['Article Name'].str.replace('Sewing Machine Ord','Sewing Machine ORD')

# Generate labels

labels_data = []
for _, row in data.iterrows():
    tokens = range(row['Start Token No.'], row['End Token No.'] + 1)
    for token in tokens:
        label_text = (str(token), row['Name'], row['Article Name'])
        labels_data.append(label_text)

# Generate PDF file with labels
labels = {"data": labels_data}
generate_pdf(labels)

## Continous for District

In [188]:

# Function to generate PDF file with labels
def generate_pdf(labels):
    c = canvas.Canvas("result/continuous_labels_district.pdf", pagesize=portrait(A4))
    width, height = portrait(A4)
    top_margin = 9 * mm
    side_margin = 4 * mm
    vertical_pitch = 47 * mm
    horizontal_pitch = 102 * mm
    label_height = 44 * mm
    label_width = 100 * mm
    number_across = 2
    number_down = 6
    corner_radius = 2 * mm


    for i, label in enumerate(labels["data"]):
        if i % (number_across * number_down) == 0:
            c.showPage()  # Start a new page every 12 labels
            x_offset = side_margin
            y_offset = height - top_margin

        col = i % number_across
        row = i // number_across % number_down
        x = x_offset + col * horizontal_pitch
        y = y_offset - row * vertical_pitch - label_height
        #c.roundRect(x, y, label_width, label_height, corner_radius)

        token, district, article = label

        # Determine font size based on the length of the token number
        token_font_size = 60
        if len(token) == 3:
            token_font_size = 50
        elif len(token) >= 4:
            token_font_size = 47


        style_token = ParagraphStyle(name='Arial', fontSize=token_font_size  , alignment=0)
        style_article = ParagraphStyle(name='Arial', fontSize=15, leading = 16, alignment=1) #leading  gives space between lines,
        style_district = ParagraphStyle(name='Arial', fontSize=15, leading = 14,spaceAfter=20, alignment=1)

        token_text = Paragraph(f"<b>{token}</b>", style_token)
        article_text = Paragraph(f"<b>{article}</b>", style_article)
        district_text = Paragraph(f"<b>{district}</b>", style_district)

        # Calculate positions for left alignment
        token_text_width, token_text_height = token_text.wrap(label_width / 2, label_height)
        token_text.drawOn(c, x + 8 * mm, y + 0.66 * (label_height - token_text_height)) #8mm for horizontal , adjust 0.66 for vertical

        # Calculate positions for right alignment
        district_text_width, district_text_height = district_text.wrap(label_width / 2, label_height)
        district_text.drawOn(c, x + 0.8 * (label_width - district_text_width), y + 0.85 * (label_height - district_text_height))

        # Calculate positions for right alignment
        article_text_width, article_text_height = article_text.wrap(label_width / 2, label_height)
        article_text.drawOn(c, x + 0.8 * (label_width - article_text_width), y + 6 * mm)


    c.save()

# Read the data
data = pd.read_excel("result/Generated_token.xlsx")
data = data[data["Change QTY "]!=0]
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.title()
data["REQUESTED ARTICLE"] = data["REQUESTED ARTICLE"].str.title()
data['REQUESTED ARTICLE'] = data['REQUESTED ARTICLE'].str.replace('Sewing Machine Ord','Sewing Machine ORD')
dtt1 = data.sort_values(by=["DISTRICT / NAME","Start Token No."]).reset_index(drop=True)
dtt3 = dtt1[dtt1["D /P / I"]=="District"]

# Generate labels
labels_data = []
for _, row in dtt3.iterrows():
    tokens = range(row['Start Token No.'], row['End Token No.'] + 1)
    for token in tokens:
        label_text = (str(token), row['DISTRICT / NAME'], row['REQUESTED ARTICLE'])
        labels_data.append(label_text)

# Generate PDF file with labels
labels = {"data": labels_data}
generate_pdf(labels)

### Continous for Public & institute

In [189]:
# Function to generate PDF file with labels
def generate_pdf(labels):
    c = canvas.Canvas("result/continuous_labels_P_I.pdf", pagesize=portrait(A4))
    width, height = portrait(A4)
    top_margin = 9 * mm
    side_margin = 4 * mm
    vertical_pitch = 47 * mm
    horizontal_pitch = 102 * mm
    label_height = 44 * mm
    label_width = 100 * mm
    number_across = 2
    number_down = 6
    corner_radius = 2 * mm


    for i, label in enumerate(labels["data"]):
        if i % (number_across * number_down) == 0:
            c.showPage()  # Start a new page every 12 labels
            x_offset = side_margin
            y_offset = height - top_margin

        col = i % number_across
        row = i // number_across % number_down
        x = x_offset + col * horizontal_pitch
        y = y_offset - row * vertical_pitch - label_height
        #c.roundRect(x, y, label_width, label_height, corner_radius)

        token, district, article = label

        # Determine font size based on the length of the token number
        token_font_size = 60
        if len(token) == 3:
            token_font_size = 50
        elif len(token) >= 4:
            token_font_size = 47


        style_token = ParagraphStyle(name='Arial', fontSize=token_font_size  , alignment=0)
        style_article = ParagraphStyle(name='Arial', fontSize=15, leading = 16, alignment=1) #leading  gives space between lines,
        style_district = ParagraphStyle(name='Arial', fontSize=15, leading = 14,spaceAfter=20, alignment=1)

        token_text = Paragraph(f"<b>{token}</b>", style_token)
        article_text = Paragraph(f"<b>{article}</b>", style_article)
        district_text = Paragraph(f"<b>{district}</b>", style_district)

        # Calculate positions for left alignment
        token_text_width, token_text_height = token_text.wrap(label_width / 2, label_height)
        token_text.drawOn(c, x + 8 * mm, y + 0.66 * (label_height - token_text_height)) #8mm for horizontal , adjust 0.66 for vertical

        # Calculate positions for right alignment
        district_text_width, district_text_height = district_text.wrap(label_width / 2, label_height)
        district_text.drawOn(c, x + 0.8 * (label_width - district_text_width), y + 0.85 * (label_height - district_text_height))

        # Calculate positions for right alignment
        article_text_width, article_text_height = article_text.wrap(label_width / 2, label_height)
        article_text.drawOn(c, x + 0.8 * (label_width - article_text_width), y + 6 * mm)


    c.save()

# Read the data
data = pd.read_excel("result/Generated_token.xlsx")
data = data[data["Change QTY "]!=0]
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.title()
data["REQUESTED ARTICLE"] = data["REQUESTED ARTICLE"].str.title()
data['REQUESTED ARTICLE'] = data['REQUESTED ARTICLE'].str.replace('Sewing Machine Ord','Sewing Machine ORD')
dtt1 = data.sort_values(by=["DISTRICT / NAME","Start Token No."]).reset_index(drop=True)
dtt2 = dtt1[(dtt1["D /P / I"]=="Public") | (dtt1["D /P / I"]=="Institute")]

# Generate labels
labels_data = []
for _, row in dtt2.iterrows():
    tokens = range(row['Start Token No.'], row['End Token No.'] + 1)
    for token in tokens:
        label_text = (str(token), row['DISTRICT / NAME'], row['REQUESTED ARTICLE'])
        labels_data.append(label_text)

# Generate PDF file with labels
labels = {"data": labels_data}
generate_pdf(labels)

In [40]:
#without 0
data = pd.read_excel("result/Generated_token.xlsx")
# data = data[data["Change QTY "]!=0]
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.title()
data["REQUESTED ARTICLE"] = data["REQUESTED ARTICLE"].str.title()
data['REQUESTED ARTICLE'] = data['REQUESTED ARTICLE'].str.replace('Sewing Machine Ord','Sewing Machine ORD')
data.to_excel("Article_0.xlsx",index=False)

In [158]:
## Excel sheet for pivot - Article
#without 0
data = pd.read_excel("result/Generated_token.xlsx")
data = data[data["Change QTY "]!=0]
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.title()
data["REQUESTED ARTICLE"] = data["REQUESTED ARTICLE"].str.title()
data['REQUESTED ARTICLE'] = data['REQUESTED ARTICLE'].str.replace('Sewing Machine Ord','Sewing Machine ORD')
data.to_excel("Article.xlsx",index=False)

#without 0
data = pd.read_excel("result/Generated_token.xlsx")
# data = data[data["Change QTY "]!=0]
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.title()
data["REQUESTED ARTICLE"] = data["REQUESTED ARTICLE"].str.title()
data['REQUESTED ARTICLE'] = data['REQUESTED ARTICLE'].str.replace('Sewing Machine Ord','Sewing Machine ORD')
data.to_excel("Article_0.xlsx",index=False)



## Excel sheet for pivot - District
data = pd.read_excel("result/Generated_token.xlsx")
# data = data[data["Change QTY "]!=0]
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.title()
data["REQUESTED ARTICLE"] = data["REQUESTED ARTICLE"].str.title()
data['REQUESTED ARTICLE'] = data['REQUESTED ARTICLE'].str.replace('Sewing Machine Ord','Sewing Machine ORD')
dtt1 = data.sort_values(by=["DISTRICT / NAME","Start Token No."]).reset_index(drop=True)
dtt3 = dtt1[dtt1["D /P / I"]=="District"]
dtt3.to_excel("District.xlsx",index=False)

## Excel sheet for pivot - Public_Instn
data = pd.read_excel("result/Generated_token.xlsx")
data = data[data["Change QTY "]!=0]
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.title()
data["REQUESTED ARTICLE"] = data["REQUESTED ARTICLE"].str.title()
data['REQUESTED ARTICLE'] = data['REQUESTED ARTICLE'].str.replace('Sewing Machine Ord','Sewing Machine ORD')
dtt1 = data.sort_values(by=["DISTRICT / NAME","Start Token No."]).reset_index(drop=True)
dtt2 = dtt1[(dtt1["D /P / I"]=="Public") | (dtt1["D /P / I"]=="Institute")]
dtt2.to_excel("Public_Instn.xlsx",index=False)

### Balance label priint

In [25]:
# Function to generate PDF file with labels
def generate_pdf(labels):
    c = canvas.Canvas("balance_art.pdf", pagesize=portrait(A4))
    width, height = portrait(A4)
    top_margin = 9 * mm
    side_margin = 4 * mm
    vertical_pitch = 47 * mm
    horizontal_pitch = 102 * mm
    label_height = 44 * mm
    label_width = 100 * mm
    number_across = 2
    number_down = 6
    corner_radius = 2 * mm


    for i, label in enumerate(labels["data"]):
        if i % (number_across * number_down) == 0:
            c.showPage()  # Start a new page every 12 labels
            x_offset = side_margin
            y_offset = height - top_margin

        col = i % number_across
        row = i // number_across % number_down
        x = x_offset + col * horizontal_pitch
        y = y_offset - row * vertical_pitch - label_height
        #c.roundRect(x, y, label_width, label_height, corner_radius)

        district, article, balance = label

        # # Determine font size based on the length of the token number
        # token_font_size = 60
        # if len(token) == 3:
        #     token_font_size = 50
        # elif len(token) >= 4:
        #     token_font_size = 47


        style_token = ParagraphStyle(name='Arial', fontSize=18  , alignment=0)
        style_article = ParagraphStyle(name='Arial', fontSize=15, leading = 16, alignment=0) #leading  gives space between lines,
        style_district = ParagraphStyle(name='Arial', fontSize=40, leading = 14, alignment=1)

        token_text = Paragraph(f"<b>{district}</b>", style_token)
        article_text = Paragraph(f"<b>{article}</b>", style_article)
        district_text = Paragraph(f"<b>{balance}</b>", style_district)

        # Calculate positions for left alignment
        token_text_width, token_text_height = token_text.wrap(label_width / 2, label_height)
        token_text.drawOn(c, x + 6 * mm, y + 0.8 * (label_height - token_text_height)) #8mm for horizontal , adjust 0.66 for vertical

        # Calculate positions for right alignment
        district_text_width, district_text_height = district_text.wrap(label_width / 2, label_height)
        district_text.drawOn(c, x + 0.8 * (label_width - district_text_width), y + 0.5 * (label_height - district_text_height))

        # Calculate positions for right alignment
        article_text_width, article_text_height = article_text.wrap(label_width / 2, label_height)
        article_text.drawOn(c, x + 0.1 * (label_width - article_text_width), y + 6 * mm)


    c.save()

# Read the data
ds = pd.read_excel("/Users/aswathshakthi/PycharmProjects/MNP24/District Article Balance Lists 2024.xlsx",sheet_name="Label balance article")
ds

# Generate labels

labels_data = []
for i in range(0,len(ds)):

    label_text = (ds["DISTRICT / NAME"][i], ds["REQUESTED ARTICLE"][i], ds["Balance"][i])
    labels_data.append(label_text)

# Generate PDF file with labels
labels = {"data": labels_data}
generate_pdf(labels)

## Project label - Flood Relief fund

In [ ]:
# Function to generate PDF file with labels
def generate_pdf(labels):
    c = canvas.Canvas("balance_art.pdf", pagesize=portrait(A4))
    width, height = portrait(A4)
    top_margin = 9 * mm
    side_margin = 4 * mm
    vertical_pitch = 47 * mm
    horizontal_pitch = 102 * mm
    label_height = 44 * mm
    label_width = 100 * mm
    number_across = 2
    number_down = 6
    corner_radius = 2 * mm


    for i, label in enumerate(labels["data"]):
        if i % (number_across * number_down) == 0:
            c.showPage()  # Start a new page every 12 labels
            x_offset = side_margin
            y_offset = height - top_margin

        col = i % number_across
        row = i // number_across % number_down
        x = x_offset + col * horizontal_pitch
        y = y_offset - row * vertical_pitch - label_height
        #c.roundRect(x, y, label_width, label_height, corner_radius)

        district, article, balance = label

        # # Determine font size based on the length of the token number
        # token_font_size = 60
        # if len(token) == 3:
        #     token_font_size = 50
        # elif len(token) >= 4:
        #     token_font_size = 47


        style_token = ParagraphStyle(name='Arial', fontSize=18  , alignment=0)
        style_article = ParagraphStyle(name='Arial', fontSize=15, leading = 16, alignment=0) #leading  gives space between lines,
        style_district = ParagraphStyle(name='Arial', fontSize=40, leading = 14, alignment=1)

        token_text = Paragraph(f"<b>{district}</b>", style_token)
        article_text = Paragraph(f"<b>{article}</b>", style_article)
        district_text = Paragraph(f"<b>{balance}</b>", style_district)

        # Calculate positions for left alignment
        token_text_width, token_text_height = token_text.wrap(label_width / 2, label_height)
        token_text.drawOn(c, x + 6 * mm, y + 0.8 * (label_height - token_text_height)) #8mm for horizontal , adjust 0.66 for vertical

        # Calculate positions for right alignment
        district_text_width, district_text_height = district_text.wrap(label_width / 2, label_height)
        district_text.drawOn(c, x + 0.8 * (label_width - district_text_width), y + 0.5 * (label_height - district_text_height))

        # Calculate positions for right alignment
        article_text_width, article_text_height = article_text.wrap(label_width / 2, label_height)
        article_text.drawOn(c, x + 0.1 * (label_width - article_text_width), y + 6 * mm)


    c.save()

# Read the data
ds = pd.read_excel("/Users/aswathshakthi/PycharmProjects/MNP24/District Article Balance Lists 2024.xlsx",sheet_name="Label balance article")
ds

# Generate labels

labels_data = []
for i in range(0,len(ds)):

    label_text = (ds["DISTRICT / NAME"][i], ds["REQUESTED ARTICLE"][i], ds["Balance"][i])
    labels_data.append(label_text)

# Generate PDF file with labels
labels = {"data": labels_data}
generate_pdf(labels)

### Article wise list

In [72]:
# # Function to generate PDF file with labels
# def generate_pdf(labels):
#     c = canvas.Canvas("result/article_labels.pdf", pagesize=portrait(A4))
#
#     #Label Dimensions
#     width, height = portrait(A4)
#     top_margin = 9 * mm
#     side_margin = 4 * mm
#     vertical_pitch = 47 * mm
#     horizontal_pitch = 102 * mm
#     label_height = 44 * mm
#     label_width = 100 * mm
#     number_across = 2
#     number_down = 6
#     corner_radius = 2 * mm
#
#
#     current_article = None  # Track the current article being printed
#     article_pages = 0  # Number of pages printed for the current article
#
#     for i, label in enumerate(labels["data"]):
#
#         if label[2] != current_article:
#             current_article = label[2]
#             article_pages = 0  # Reset the page count for the new article
#             if i > 0:
#                 c.showPage()  # Start a new page for the new article
#
#         if article_pages >= 12:  # If already printed 12 labels for this article, start a new page
#             c.showPage()
#             article_pages = 0
#
#         col = article_pages % number_across
#         row = article_pages // number_across % number_down
#
#         x = side_margin + col * horizontal_pitch
#
#         y = height - top_margin - row * vertical_pitch - label_height
#
#         c.roundRect(x, y, label_width, label_height, corner_radius) #add rectangle border around label
#
#         token, district, article = label
#
#         # Determine font size based on the length of the token number
#         token_font_size = 45
#         if len(token) == 3:
#             token_font_size = 42
#         elif len(token) == 4:
#             token_font_size = 42
#
#         style_token = ParagraphStyle(name='Arial-Bold', fontSize=token_font_size, alignment=0)
#         style_article = ParagraphStyle(name='Arial-Bold', fontSize=16, leading=16, alignment=1)
#         style_district = ParagraphStyle(name='Arial-Bold', fontSize=14, leading=16, spaceAfter=20, alignment=1)
#
#         token_text = Paragraph(f"<b>{token}</b>", style_token)
#         article_text = Paragraph(f"<b>{article.title()}</b>", style_article)
#         district_text = Paragraph(f"<b>{district.title()}</b>", style_district)
#
#         # Calculate positions for left alignment
#         token_text_width, token_text_height = token_text.wrap(label_width / 2, label_height)
#         token_text.drawOn(c, x + 8 * mm, y + 0.66 * (label_height - token_text_height))
#
#
#         # Calculate positions for right alignment
#         district_text_width, district_text_height = district_text.wrap(label_width / 2, label_height)
#         district_text.drawOn(c, x + 0.8 * (label_width - district_text_width), y +0.85 * (label_height - district_text_height))
#
#         # Calculate positions for right alignment
#         article_text_width, article_text_height = article_text.wrap(label_width / 2, label_height)
#         article_text.drawOn(c, x + 0.8 * (label_width - article_text_width), y + 6 * mm)
#
#
#         article_pages += 1  # Increment the page count for the current article
#
#     c.save()
#
# # Read the data
# data = pd.read_excel("result/Generated_token.xlsx")
# data = data[data["Change QTY "]!=0]
#
#
# labels_data = []
# for _, row in data.iterrows():
#
#     tokens = range(row['Start Token No.'], row['End Token No.'] + 1)
#     for tokenn in tokens:
#         label_text = (str(tokenn), row['DISTRICT / NAME'], row['REQUESTED ARTICLE'])
#         labels_data.append(label_text)
#
# # Generate PDF file with labels
# labels = {"data": labels_data}
# generate_pdf(labels)

### beneficiary wise list

In [45]:
# # Function to generate PDF file with labels
# def generate_pdf(labels):
#     c = canvas.Canvas("result/beneficiary_labels.pdf", pagesize=portrait(A4))
#
#     #Label Dimensions
#     width, height = portrait(A4)
#     top_margin = 9 * mm
#     side_margin = 4 * mm
#     vertical_pitch = 47 * mm
#     horizontal_pitch = 102 * mm
#     label_height = 44 * mm
#     label_width = 100 * mm
#     number_across = 2
#     number_down = 6
#     corner_radius = 2 * mm
#
#
#     current_article = None  # Track the current article being printed
#     article_pages = 0  # Number of pages printed for the current article
#     public_ben=[]
#     for i, label in enumerate(labels["data"]):
#
#         if current_article is not None and re.match(r'^P \d+', current_article):
#             public_ben.append(label)
#
#
#         if label[1] != current_article: # 1 refers to district and 2 is label. depends on code , check when required
#             current_article = label[1]
#             article_pages = 0  # Reset the page count for the new article
#             if i > 0:
#                 c.showPage()  # Start a new page for the new article
#
#         if article_pages >= 12:  # If already printed 12 labels for this article, start a new page
#             c.showPage()
#             article_pages = 0
#
#         col = article_pages % number_across
#         row = article_pages // number_across % number_down
#
#         x = side_margin + col * horizontal_pitch
#         y = height - top_margin - row * vertical_pitch - label_height
#         #c.roundRect(x, y, label_width, label_height, corner_radius) #add rectangle border around label
#
#         token, district, article = label
#
#         # Determine font size based on the length of the token number
#         token_font_size = 45
#         if len(token) == 3:
#             token_font_size = 42
#         elif len(token) >= 4:
#             token_font_size = 42
#
#         style_token = ParagraphStyle(name='Arial-Bold', fontSize=token_font_size, alignment=0)
#         style_article = ParagraphStyle(name='Arial-Bold', fontSize=16, leading=16, alignment=1)
#         style_district = ParagraphStyle(name='Arial-Bold', fontSize=14, leading=16, spaceAfter=20, alignment=1)
#
#         token_text = Paragraph(f"<b>{token}</b>", style_token)
#         article_text = Paragraph(f"<b>{article.title()}</b>", style_article)
#         district_text = Paragraph(f"<b>{district.title()}</b>", style_district)
#
#         # Calculate positions for left alignment
#         token_text_width, token_text_height = token_text.wrap(label_width / 2, label_height)
#         token_text.drawOn(c, x + 8 * mm, y + 0.66 * (label_height - token_text_height))
#
#
#         # Calculate positions for right alignment
#         district_text_width, district_text_height = district_text.wrap(label_width / 2, label_height)
#         district_text.drawOn(c, x + 0.8 * (label_width - district_text_width), y + 0.85 * (label_height - district_text_height))
#
#         # Calculate positions for right alignment
#         article_text_width, article_text_height = article_text.wrap(label_width / 2, label_height)
#         article_text.drawOn(c, x + 0.8 * (label_width - article_text_width), y + 6 * mm)
#
#
#         article_pages += 1  # Increment the page count for the current article
#
#     c.save()
# def generate_pdfc(labels):
#     c = canvas.Canvas("result/beneficiary_P_label.pdf", pagesize=portrait(A4))
#
#     #Label Dimensions
#     width, height = portrait(A4)
#     top_margin = 9 * mm
#     side_margin = 4 * mm
#     vertical_pitch = 47 * mm
#     horizontal_pitch = 102 * mm
#     label_height = 44 * mm
#     label_width = 100 * mm
#     number_across = 2
#     number_down = 6
#     corner_radius = 2 * mm
#
#     for i, label in enumerate(labels["data"]):
#         if i % (number_across * number_down) == 0:
#             c.showPage()  # Start a new page every 12 labels
#             x_offset = side_margin
#             y_offset = height - top_margin
#
#         col = i % number_across
#         row = i // number_across % number_down
#         x = x_offset + col * horizontal_pitch
#         y = y_offset - row * vertical_pitch - label_height
#         #c.roundRect(x, y, label_width, label_height, corner_radius)
#
#         token, district, article = label
#
#         # Determine font size based on the length of the token number
#         token_font_size = 45
#         if len(token) == 3:
#             token_font_size = 42
#         elif len(token) >= 4:
#             token_font_size = 42
#
#
#         style_token = ParagraphStyle(name='Arial', fontSize=token_font_size  , alignment=0)
#         style_article = ParagraphStyle(name='Arial', fontSize=16, leading = 16, alignment=1) #leading  gives space between lines,
#         style_district = ParagraphStyle(name='Arial', fontSize=14, leading = 16,spaceAfter=20, alignment=1)
#
#         token_text = Paragraph(f"<b>{token}</b>", style_token)
#         article_text = Paragraph(f"<b>{article.title()}</b>", style_article)
#         district_text = Paragraph(f"<b>{district.title()}</b>", style_district)
#
#         # Calculate positions for left alignment
#         token_text_width, token_text_height = token_text.wrap(label_width / 2, label_height)
#         token_text.drawOn(c, x + 8 * mm, y + 0.66 * (label_height - token_text_height)) #10mm for horizontal , adjust 0.66 for vertical
#
#          # Calculate positions for right alignment
#         district_text_width, district_text_height = district_text.wrap(label_width / 2, label_height)
#         district_text.drawOn(c, x + 0.8 * (label_width - district_text_width), y + 0.85 * (label_height - district_text_height))
#
#         # Calculate positions for right alignment
#         article_text_width, article_text_height = article_text.wrap(label_width / 2, label_height)
#         article_text.drawOn(c, x + 0.8 * (label_width - article_text_width), y + 6 * mm)
#
#     c.save()
#
# # Read the data
# data = pd.read_excel("result/Generated_token.xlsx")
# '''we need to sort by district since we need based on district in each file. '''
# data = data.sort_values(by="DISTRICT / NAME",ascending=True,ignore_index=True)
# d1 = data # copy data to d1
#
# data = data[~data['DISTRICT / NAME'].str.match(r'^P \d+')].reset_index(drop=True)
#
# labels_data = []
# for _, row in data.iterrows():
#     tokens = range(row['Start Token No.'], row['End Token No.'] + 1)
#     for tokenn in tokens:
#         label_text = (str(tokenn), row['DISTRICT / NAME'], row['REQUESTED ARTICLE'])
#         labels_data.append(label_text)
#
#
# # Generate PDF file with labels
# labels = {"data": labels_data}
# generate_pdf(labels)
#
# d2 = d1[d1['DISTRICT / NAME'].str.match(r'^P \d+')].reset_index(drop=True)
#
# labels_data = []
# for _, row in d2.iterrows():
#     tokens = range(row['Start Token No.'], row['End Token No.'] + 1)
#     for tokenn in tokens:
#         label_text = (str(tokenn), row['DISTRICT / NAME'], row['REQUESTED ARTICLE'])
#         labels_data.append(label_text)
#
#
# # Generate PDF file with labels
# labels = {"data": labels_data}
# generate_pdfc(labels)

In [ ]:
# # Generate labels
#
# labels_data = []
# for _, row in data.iterrows():
#     if row['Token_count']=="no": # print limited tokens
#         label_text = (str(row['QTY']), row['District'], row['Article'])
#         labels_data.append(label_text)
#
#
#     elif row['D/I/P'] == 'P' or row['D/I/P'] == 'I':   # project mention suffix
#         tokens = range(row['Start Token No.'], row['End Token No.'] + 1)
#         for token in tokens:
#             label_text = (row["D/I/P"] + str(token), row['District'], row['Article'])
#             labels_data.append(label_text)
#     else:
#         tokens = range(row['Start Token No.'], row['End Token No.'] + 1)
#         for token in tokens:
#             label_text = (str(token), row['District'], row['Article'])
#             labels_data.append(label_text)
# # Generate PDF file with labels
# labels = {"data": labels_data}
# generate_pdf(labels)

In [56]:
# use online tool or acrobat to make pdf forms as editable forms, then use the pdf to read the field id names.

In [57]:
import pandas as pd
data = pd.read_excel("/Users/aswathshakthi/PycharmProjects/MNP24/result/Generated_token.xlsx")
data["DISTRICT / NAME"] = data["DISTRICT / NAME"].str.replace("P 021 Sri Ramakrishna Athmalayam","P 021 - Sri Ramakrishna Athmalayam")
data[['App. No.', 'DISTRICT / NAME']] = data['DISTRICT / NAME'].str.split(' - ', expand=True)

data = data[data["D /P / I"]=="Public"]
data

,Sl. No,D /P / I,Project / Article / Aid,DISTRICT / NAME,REQUESTED ARTICLE,Change QTY,Sequence list,Real QTY,Start Token No.,End Token No.,App. No.
20,22,Public,Article,K.Eswaraan,Handicapped Scooter,1,19,1,56,56,P 079
21,23,Public,Article,R.Dhanasekaran,Handicapped Scooter,1,19,1,57,57,P 097
26,26,Public,Article,Senthilkumar,Two wheeler,1,20,1,65,65,P 048
27,27,Public,Article,Lalitha,Two wheeler,1,20,1,66,66,P 057
33,35,Public,Article,R.Saravanan,Lenova Tab,1,23,1,82,82,P 060
...,...,...,...,...,...,...,...,...,...,...,...
420,440,Public,Article,A.Muniammal,Girls Cycle,1,118,1,1073,1073,P 120
421,441,Public,Article,A.keerthana,Girls Cycle,1,118,1,1074,1074,P 122
422,442,Public,Article,P.Uma,Girls Cycle,1,118,1,1075,1075,P 123
423,443,Public,Article,Abimeena U,Girls Cycle,1,118,1,1076,1076,P 165
424,444,Public,Article,S Nagammal,Girls Cycle,1,118,1,1077,1077,P 171

In [58]:
p_data = pd.read_excel("/Users/aswathshakthi/PycharmProjects/MNP24/data/DISTRICT AND PUBLIC DATA BASE 31012024.xlsx",sheet_name="PUBLIC")
p_data = p_data[["App. No.","Aadhar","Name","Address","Mobile"]]
p_data

,App. No.,Aadhar,Name,Address,Mobile
0,P 021,0,Sri Ramakrishna Athmalayam,"Kammavar Palayam Road, Sholavaram, Chennai 67",9884894335
1,P 022,983903078456,Muniammal,"79,VeeramaNallur, Semmedu, Villupuram 604 153",9342725341
2,P 024,574234930127,D.Rajamani,"28/14 Kanniappa Gramani Nagar 2nd St, Kaladipe...",7305301104
3,P 025,968582816938,N.Soundarya,"Kandakariyam, Tanjore",8270654255
4,P 026,440497379138,E.Thangam,"4/34Venbuliamman Koil St, Vandalur, Chennai 60...",7845699984
...,...,...,...,...,...
128,P 159,782979049402,Rajeswari Murugan,"5/56 Kabilar St, Otteri Pirivu, Vandalur",9952922466
129,P 160,999495896053,D.Ramesh,"52 Mettu St, Bolur, Thiruvannamalai",7395843049
130,P 161,570743390326,S.Gkomathi,"Chinnamman Koil St, Avadi, Chennai 600054",9003052745
131,P 162,259184932037,G.Kala,"69, 4th St, Sarma Nagar, Vyasarpadi, Chennai",6380948390
132,P 163,741922311245,P.Singaravelu,"Pattukottai, Tanjore",8012647090

In [59]:
final_data = data.merge(p_data,how='left',on="App. No.").to_excel("Beneficiary_list.xlsx",index=False)
final_data

In [64]:
data= pd.read_excel("ack_result/Beneficiary_list.xlsx")
data["Aadhar"] = data["Aadhar"].fillna(0)
data["Mobile"] = data["Mobile"].fillna(0)
data["Address"] = data["Address"].fillna("Add")
data["Aadhar"] = data["Aadhar"].astype(int)
data["Mobile"] = data["Mobile"].astype(int)
data

,App. No.,D /P / I,Project / Article / Aid,DISTRICT / NAME,Name,Aadhar,Address,Mobile,REQUESTED ARTICLE,Change QTY,Sequence list,Real QTY,Start Token No.,End Token No.
0,P 079,Public,Article,K.Eswaraan,K.Eswaraan,880008808960,"30 Samayan Koil St, Vandiyur, Madurai",9791497523,Handicapped Scooter,1,19,1,56,56
1,P 097,Public,Article,R.Dhanasekaran,R.Dhanasekaran,293196203825,"1-118Bramanar St, Anmaruthai PO, Thiruvannamal...",9791065580,Handicapped Scooter,1,19,1,57,57
2,P 048,Public,Article,Senthilkumar,Senthilkumar,469823655677,"GB Nagar, Kalavai",9786865280,Two wheeler,1,20,1,65,65
3,P 057,Public,Article,Lalitha,Lalitha,822512261793,"18/39 Thirumalaiappan St, Purasaivakkam, Chennai",9345136363,Two wheeler,1,20,1,66,66
4,P 060,Public,Article,R.Saravanan,R.Saravanan,365256851671,"11-9-1F Velliyan Chettiyar St, Aandipatti, 62...",8124837667,Lenova Tab,1,23,1,82,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,P 120,Public,Article,A.Muniammal,A.Muniammal,691544883507,"4th St, Venkatesapuram",9942796797,Girls Cycle,1,118,1,1073,1073
131,P 122,Public,Article,A.keerthana,A.keerthana,994189467928,"venkatesapuram Village, Acharapakkam PO, Cheng...",9345825969,Girls Cycle,1,118,1,1074,1074
132,P 123,Public,Article,P.Uma,P.Uma,441456953579,"Pakkam Village, Madhuranthagam TK Chenglepat",9942539840,Girls Cycle,1,118,1,1075,1075
133,P 165,Public,Article,Abimeena U,NaN,0,Add,0,Girls Cycle,1,118,1,1076,1076
134,P 171,Public,Article,S Nagammal,NaN,0,Add,0,Girls Cycle,1,118,1,1077,1077

In [61]:
# # get Field names
#
# from fillpdf import fillpdfs
#
# # Get form fields from the PDF
# form_fields = fillpdfs.get_form_fields("data/acknowledgment stage_2.pdf")
#
# # Print field names
# for field_name in form_fields.keys():
#     print(field_name)

In [62]:
import pandas as pd
from fillpdf import fillpdfs
import PyPDF2
import os
# Define a function to fill PDF for each row
def fill_pdf_for_row(row):
    data_dict = {
        # 'district': row['District'],
        'address': row['Address'],
        'Name': row['DISTRICT / NAME'],
        'appno': row['App. No.'],
        'token': row['Start Token No.'],
        'phone': row['Mobile'],
        'aadhar': row['Aadhar'],
        'artice': row['REQUESTED ARTICLE']
    }
    filled_pdf_path = f"ack_result/{row['Start Token No.']}_filled.pdf"  # Output path for each filled PDF
    fillpdfs.write_fillable_pdf('data/acknowledgment stage_2.pdf', filled_pdf_path, data_dict)

    return filled_pdf_path

# Apply the function to each row and get list of filled PDF paths
filled_pdf_paths = data.apply(fill_pdf_for_row, axis=1).tolist()

# Merge all filled PDFs into a single PDF file
merged_pdf_path = "ack_result/all_acknowledgment.pdf"
with open(merged_pdf_path, "wb") as output_pdf:
    merger = PyPDF2.PdfMerger()
    for pdf_path in filled_pdf_paths:
        merger.append(pdf_path)
    merger.write(output_pdf)

# Delete individual filled PDFs
for pdf_path in filled_pdf_paths:
    os.remove(pdf_path)